/*Border Box Sizing For Everthing*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;

    /*Dark Theme*/
    --dark-main-color: #474747;
    --dark-text-color: #fafafa;
    --dark-accent-color: #aa7dce;
    --dark-secondary-color: #ad343e;
    --dark-tertiary-color: #58a4b0;

    /*Light Theme*/
    --light-main-color: #e6e8e6ff;
    --light-text-color: #231f20ff;
    --light-accent-color: #2b59c3ff;
    --light-secondary-color: #fcf7ffff;
    --light-tertiary-color: #00c6b5ff;
}

html {
    background-color: dark-light(
        var(--light-main-color),
        var(--dark-main-color)
    );
    font-family: sans-serif;
}

main {
    flex: 1;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}
