/*Border Box Sizing For Everthing*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;

    /*Dark Theme*/
    --main-color: light-dark(#e6e8e6ff, #474747);
    --text-color: light-dark(#231f20ff, #fafafa);
    --accent-color: light-dark(#2b59c3ff, #aa7dce);
    --secondary-color: light-dark(#fcf7ffff, #ad343e);
    --tertiary-color: light-dark(#00c6b5ff, #58a4b0);
}

html {
    background-color: var(--main-color);
    font-family: sans-serif;
    color: var(--text-color);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    line-height: 1.5;
}

main {
    width: 900px;
    margin: 0 auto;
    flex: 1;
}
