/*Border Box Sizing For Everthing*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;

    /*Dark Theme*/
    /*#201a23*/
    --main-color: light-dark(#e6e8e6ff, #171718);
    --text-color: light-dark(#231f20ff, #e0e0e0);
    --accent-color: light-dark(#2b59c3ff, #a7172d);
    --secondary-color: light-dark(#fcf7ffff, #717171);
    --tertiary-color: light-dark(#00c6b5ff, #cdcdcd);
}

html {
    background-color: var(--main-color);
    font-family: "Share Tech", sans-serif;
    font-size: 22px;
    color: var(--text-color);
}

body {
    min-height: 100vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: -2%;
    outline: 1px solid var(--secondary-color);
    color: var(--tertiary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Exo 2", sans-serif;
    border: 1px solid var(--secondary-color);
    border-left: 0px;
    border-right: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--text-color);
    margin: 0px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 32px;
}

p {
    margin: 0;
    padding: 1rem;
}

a {
    text-decoration: none;
}

main {
    flex: 1;
    margin: 0;
}
