---
import BaseLayout from "../layouts/baseLayout.astro";
import { Image } from "astro:assets";
import Face from "../assets/clown_face.jpg";
import "../styles/global.css";

const page_title = "About Me";
---

<style>
    .stats {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, auto));
        gap: 10px;
    }
    .grid-item {
        margin: 0;
        background-color: var(--secondary-color);
        padding: 10px;
        border-radius: 15px;
    }
    .face_figure {
        grid-row: span 2;
        margin: 0;
    }
    .face {
        border-radius: 10px;
    }
    .locations {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        text-align: center;
    }
    .age {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
    }
    .interests {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .interests ul {
        list-style-type: none;
        padding-left: 0;
        font-size: 1.5em;
        margin: 0;
    }
    .favorites {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .favorites ul {
        margin: 0;
        list-style-type: none;
        padding-left: 0;
        font-size: 1.25em;
    }
</style>

<BaseLayout page_title={page_title}>
    <h2>Some Stats</h2>
    <div class="stats">
        <figure class="face_figure">
            <Image src={Face} alt="My Face" } class="face" width="200" />
            <figcaption><b>Me at a Clown Exhibit</b></figcaption>
        </figure>
        <p class="locations grid-item">
            Located in<br /> San Dimas, California
        </p>
        <p class="age grid-item">I'm 20 years old</p>
        <div class="interests grid-item">
            <h2>Current Interests</h2>
            <ul>
                <li>Moral Philosophy</li>
                <li>Cobol</li>
                <li>OpenGL</li>
            </ul>
        </div>
        <div class="favorites grid-item">
            <h2>Favorites</h2>
            <ul>
                <li><b>Food:</b> Pho</li>
                <li><b>Programming Language:</b> C++</li>
                <li><b>Color:</b> Blue</li>
                <li><b>Game:</b> Terraria</li>
            </ul>
        </div>
    </div>
    <h2>My Programming Journey</h2>
    <p>
        My first exposure with programming was probably Scratch around the 6th
        grade where I was just dragging blocks. I think the block dragging back
        fired in way because I got bored of it quickly and didn't get much into
        it. I really regret this decision. The next time I picked up programming
        was years later in AP Computer Science where I learned Java right before
        the beginning of the Covid Pandemic.
    </p>
    <p>
        While the class did not inspire much enjoyment it opened me up to the
        depth of programming and its potential. When I first wrote a functional
        translation script in Python everything finally clicked. Hours past
        without me noticing as I improved the program and even added a GUI. I
        started wondering how everything on my computer worked and how the
        websites I used were built. These question naturally led to me majoring
        in Computer Science.
    </p>
    <h2>Recommendations</h2>
    <p>Here are some things I've really enjoyed. Theres no order to these.</p>
    <h3>Books</h3>
    <ul>
        <li>Fundamentals of Ethics by Russ Shafer-Landau</li>
        <li>
            Operating Systems: Three Easy Pieces by Remzi H. Arpaci-Dusseau and
            Andrea C. Arpaci-Dusseau
        </li>
        <li>Stay True by Hua Tsu</li>
        <li>No No Boy by John Okada</li>
        <li>Where the Red Fern Grows by Wilson Rawls</li>
    </ul>
    <h3>Manga</h3>
    <ul>
        <li>Grand Blue by Kenji Inoue</li>
        <li>Kengan Asura by Yabako Sandrovich</li>
        <li>Dungeon Meshi by Kui Ryouko</li>
        <li>The Case Study of Vanitas by Mochizuki Jun</li>
        <li>
            The Apothecary Diaries by Hyuuga Natsu, Nanao Itsuki, Nekokurage
        </li>
    </ul>
    <h3>Movies</h3>
    <p>
        Truthfully I don't really watch many movies but out of the few I have
        watched these gave me the most enjoyment.
    </p>
    <ul>
        <li>Margin Call</li>
        <li>Kpop Demon Hunters</li>
    </ul>
    <h3>TV Shows</h3>
    <p>I also don't really watch TV Shows</p>
    <ul>
        <li>Arcane</li>
        <li>Severance</li>
        <li>House</li>
        <li>Mythbusters</li>
    </ul>
    <h3>Websites</h3>
    <p>Some maybe useful websites.</p>
    <ul>
        <li><a href="https://annas-archive.org/">Anna's Archive</a></li>
        <p>Massive Digital Library</p>
        <li><a href="https://wotaku.wiki/">Wotaku Wiki</a></li>
        <p>Index for all things anime</p>
        <li><a href="https://coolors.co/">Coolor Co</a></li>
        <p>Allows you to generate color schemes</p>
    </ul>
</BaseLayout>
