---
import BaseLayout from "../layouts/baseLayout.astro";
import { Image } from "astro:assets";
import Face from "../assets/clown_face.jpg";
import Link from "../components/link.astro";
import "../styles/global.css";

const page_title = "About Me";
---

<style>
    .stats {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, auto));
        gap: 10px;
    }
    .grid-item {
        background-color: var(--main-color);
        border: 1px solid var(--secondary-color);
        font-size: 1.4em;
    }
    .grid-item h3 {
        border-top: none;
    }
    .face_figure {
        grid-row: span 2;
        margin: 0;
        text-align: center;
    }
    .locations,
    .age {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .interests,
    .favorites {
        display: flex;
        flex-direction: column;
    }
</style>

<BaseLayout page_title={page_title}>
    <h1>About Me</h1>
    <div class="stats">
        <figure class="face_figure">
            <Image src={Face} alt="My Face" } class="face" width="200" />
            <figcaption><b>Me at a Clown Exhibit</b></figcaption>
        </figure>
        <p class="locations grid-item">
            Located in<br /> San Dimas, California
        </p>
        <p class="age grid-item">I'm 20 years old</p>
        <div class="interests grid-item">
            <h3>Current Interests</h3>
            <p>
                Moral Philosophy<br />
                Cobol <br />
                OpenGL <br />
            </p>
        </div>
        <div class="favorites grid-item">
            <h3>Favorites</h3>
            <p>
                Food: Pho <br />
                Programming Language: C++ <br />
                Song: Movin' Out by Billy Joel<br />
                Game: Terraria <br />
            </p>
        </div>
    </div>
    <h2>My Programming Journey</h2>
    <p>
        My first exposure with programming was probably Scratch around the 6th
        grade where I was just dragging blocks. I think the block dragging back
        fired in way because I got bored of it quickly and didn't get much into
        it. I really regret this decision. The next time I picked up programming
        was years later in AP Computer Science where I learned Java right before
        the beginning of the Covid Pandemic.
    </p>
    <p>
        While the class did not inspire much enjoyment it opened me up to the
        depth of programming and its potential. When I first wrote a functional
        translation script in Python everything finally clicked. Hours past
        without me noticing as I improved the program and even added a GUI. I
        started wondering how everything on my computer worked and how the
        websites I used were built. These question naturally led to me majoring
        in Computer Science.
    </p>
    <h2>Recommendations</h2>
    <p>These are some things I recommend in no particular order</p>
    <h3>Books</h3>
    <p>
        Fundamentals of Ethics by Russ Shafer-Landau
        <br />Operating Systems: Three Easy Pieces by Remzi H. Arpaci-Dusseau
        and Andrea C. Arpaci-Dusseau
        <br />Stay True by Hua Tsu
        <br />No No Boy by John Okada
        <br />Where the Red Fern Grows by Wilson Rawls
    </p>
    <h3>Manga</h3>
    <p>
        Grand Blue by Kenji Inoue
        <br />Kengan Asura by Yabako Sandrovich
        <br />Dungeon Meshi by Kui Ryouko
        <br />The Case Study of Vanitas by Mochizuki Jun
        <br />The Apothecary Diaries by Hyuuga Natsu, Nanao Itsuki, Nekokurage
    </p>
    <h3>Movies</h3>
    <p>
        I don't really watch movies but these are some recent favorites
        <br />Margin Call
        <br />Kpop Demon Hunters
    </p>
    <h3>TV Shows</h3>
    <p>
        I also don't really watch TV Shows
        <br /> Arcane
        <br /> Severance
        <br /> House
        <br /> Mythbusters
    </p>
    <h3>Websites</h3>
    <p>
        Some maybe useful websites.
        <br />
        <Link link="https://annas-archive.org/" name="Anna's Archive:" />
        <span> Massive Digital Library</span>
        <br />
        <Link link="https://wotaku.wiki/" name="Wotaku Wiki:" />
        <span> Index for all things anime</span>
        <br />
        <Link link="https://coolors.co/" name="Coolor Co:" />
        <span> Allows you to generate color schemes</span>
        <br />
        <Link link="https://devhints.io/" name="Dev Hints: " />
        <span> Some useful cheatsheets for devs</span>
    </p>
</BaseLayout>
