---
import BaseLayout from "../layouts/baseLayout.astro";
const page_title = "Welcome";
---

<BaseLayout page_title={page_title}>
    <p>
        Hello I'm Kevin and this website serves as the corner of the internet
        where I put my stuff. I'm currently a student at UCSB studying computer
        science with a minor in math.
    </p>
    <h2>Recent Activities</h2>
    <h2>Recent Blogs</h2>
</BaseLayout>
