---
import BaseLayout from "../layouts/baseLayout.astro";
const page_title = "Welcome";
---

<BaseLayout page_title={page_title}>
    <h2>Recent Activities</h2>
    <h2>Recent Blogs</h2>
</BaseLayout>
