---
import Social from "./social.astro";
import { Image } from "astro:assets";
import GithubSVG from "../assets/github-brands-solid.svg";
---

<style>
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }
    p {
        margin: 0px;
    }
</style>

<footer>
    <a
        href="https://github.com/Makkerel"
        target="_blank"
        rel="noopener noreferrer"
        ><Image src={GithubSVG} width={30} alt="Github Svg" /></a
    >
    <p>Hosted on Github Pages</p>
</footer>
