---
import { Image } from "astro:assets";
import GithubSVG from "../assets/github-brands-solid.svg";
import "../styles/global.css";
---

<style>
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1rem;
        background-color: var(--main-color);
        outline: 1px solid var(--secondary-color);
        margin-top: 2em;
    }
    p {
        margin-bottom: 1rem;
        margin-top: 0rem;
        color: var(--text-color);
    }

    .logo {
        filter: invert(0);
    }

    @media (prefers-color-scheme: dark) {
        .logo {
            filter: invert(100);
        }
    }
</style>

<footer>
    <span>
        <a
            href="https://github.com/Makkerel/Astro-Blog"
            target="_blank"
            rel="noopener noreferrer"
            ><Image
                src={GithubSVG}
                width={30}
                alt="Github Svg"
                class="logo"
            /></a
        >
    </span>
    Hosted on Github Pages
</footer>
