---
import { Image } from "astro:assets";
import GithubSVG from "../assets/github-brands-solid.svg";
import "../styles/global.css";
---

<style>
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1rem;
        background-color: var(--tertiary-color);
        border: 1px solid var(--text-color);
        border-bottom: 0px;
        border-radius: 10px 10px 0px 0px;
        margin-top: 2em;
    }
    p {
        margin-bottom: 1rem;
        margin-top: 0rem;
        color: var(--text-color);
    }
</style>

<footer>
    <a
        href="https://github.com/Makkerel"
        target="_blank"
        rel="noopener noreferrer"
        ><Image src={GithubSVG} width={30} alt="Github Svg" /></a
    >
    <p>Hosted on Github Pages</p>
</footer>
