---
import Social from "./social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        Look At My Other Work Here!
        <Social platform="Github" username="Makkerel" />
    </p>
</footer>
