---
import "../styles/global.css";
const { link, name } = Astro.props;
---

<style>
    a {
        text-decoration: none;
        color: var(--accent-color);
    }
    a:hover {
        filter: brightness(150%);
    }
    a::after {
        position: relative;
        content: "↗";
        font-size: 60%;
        top: -0.2rem;
    }
</style>
<a href={link} target="_blank" rel="noopener noreferrer">{name}</a>
