---
import "../styles/global.css";
---

<style>
    a {
        margin: 0 10px;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--text-color);
        opacity: 90%;
        transition:
            opacity 0.3s ease-out,
            filter 0.3s ease-out;
    }

    a:hover {
        opacity: 100%;
        filter: brightness(110%);
    }
</style>

<nav class="nav_links">
    <a href="/about/">About</a><a href="/blogs/">Blog</a><a href="/tags/"
        >Tags</a
    >
</nav>
