---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import favicon from "../assets/happy_face.png";
import "../styles/global.css";

const { page_title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href={favicon.src} />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- Fonts
        Share Tech
        Exo 2 -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap"
            rel="stylesheet"
        />
        <title>{page_title}</title>
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
