---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import favicon from "../assets/happy_face.png";
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";
import "../styles/global.css";

const { page_title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href={favicon.src} />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <Font cssVariable="--font-share-tech" preload />
        <Font cssVariable="--font-atkinson" preload />
        <Font cssVariable="--font-exo-2" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
        <title>{page_title}</title>
        <ClientRouter />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
